.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

img {
  width: 300px;
  height: 300px;
}

.image-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px; /* Add margin top to create space between buttons */
}
