<div class="form">
  <input
    type="text"
    [(ngModel)]="name"
    placeholder="Name"
    class="input-field"
  />
  <p>Name : {{ name }}</p>

  <input type="button" value="Reset" (click)="reset()" class="button" />
</div>
<div class="image-container">
  <div>
    <img [src]="imageName[currentIndex]" />
  </div>
  <div class="button-container">
    <input type="button" value="Prev" (click)="prevImage()" class="button" />
    <input type="button" value="Next" (click)="nextImage()" class="button" />
    <input type="button" value="slide" (click)="slideShow()" class="button" />
    <input type="button" value="stop" (click)="stop()" class="button" />
  </div>
</div>
